@model ProjektDotNet.ViewModels.PlayerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nowe Zawody</h2>

@using (Html.BeginForm("Save", "Players"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Player.Name)
        @Html.TextBoxFor(m => m.Player.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Player.Birthdate)
        @Html.TextBoxFor(m => m.Player.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Player.SportTypeId)
        @Html.DropDownListFor(m => m.Player.SportTypeId, new SelectList(Model.SportTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Player.HasLicense) Posiada licencje?  
        </label>
    </div>
    @Html.HiddenFor(m => m.Player.Id)
    <button type="submit" class="btn btn-primary">Zapisz</button>
}